* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #49b5c0;
}

body {
  color: #49b5c0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#wrapper1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#wrapper1 #wrap {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  padding: 10px 20px 0px 20px;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
#wrapper1 #wrap .box1 {
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}
#wrapper1 #wrap #quote-box {
  border-radius: 3px;
  position: relative;
  width: auto;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}
#wrapper1 #wrap #quote-box #quoteText {
  z-index: 1;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 30px;
}
#wrapper1 #wrap #quote-box #quoteAuthor {
  text-align: right;
  margin-bottom: 10px;
}
#wrapper1 #wrap  .btn {
  border-radius: 3px;
  font-size: 20px;
  padding: 10px;
  border: none;
  background-color: #49b5c0;
  color: white;
  opacity: 1;
}
#wrapper1 #wrap #new-quote {
  width: 110px;
  font-size: 15px;
}
#wrapper1 #wrap .btn:hover {
  opacity: 0.9;
  /*   background-color: white; */
}

#author {
  text-align: right;
  margin-bottom: 20px;
}

#buttons1 {
  z-index: 1000;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

#confetti {
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  overflow: hidden;
}