* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
}

body {
  color: #1b1b1b;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#wrapper1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#wrapper1 #wrap {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  padding: 10px 20px 0px 20px;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
#wrapper1 #wrap .box1 {
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}
#wrapper1 #wrap #quote-box {
  border-radius: 3px;
  position: relative;
  width: auto;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}
#wrapper1 #wrap #quote-box #quoteText {
  z-index: 1;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 10px;
}
#wrapper1 #wrap #quote-box #quoteAuthor {
  text-align: right;
}
#wrapper1 .btn {
  border-radius: 3px;
  font-size: 20px;
  padding: 10px;

  border: none;
  background-color: #1b1b1b;
  color: white;
  opacity: 1;
}
#wrapper1 #new-quote {
  position: absolute;
  top: 75%;
  width: 110px;
  font-size: 15px;

}
#wrapper1 #wrap .btn:hover {
  opacity: 0.9;
  /*   background-color: white; */
}

#author {
  text-align: right;
  margin-bottom: 20px;
}

#buttons1 {
  z-index: 1000;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

#confetti {
  background: transparent;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  overflow: hidden;
}

/* for regeistration page */
#regb {
  background-color: #1b1b1b;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.regf {
  font-family: 'Barlow', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 40px 30px;
  width: 500px;
  height: 300px;
  background-color: #fff;
}

.regfi {
  width: 450px;
  height: 250px;
  background-color: #ffffff;
}

.data {
  margin: 10px 0px;
}

.in {
  padding: 10px;
  border-radius: 10px;
  border: #1b1b1b 0.2px solid;
  height: 40px;
  width: 100%;
}

.nameE {
  margin-bottom: 30px;
}

#submit1 {
  border: none;
  width: 100px;
  height: 40px;
  background-color: #1b1b1b;
  color: #fff;
}

#lokal1 {
  width: 100px;
  height: 30px;
  background-color: rgb(255, 255, 255);
}

#submit1:hover {
  opacity: 80%;
}




