{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheet %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
        <title>Back Office</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/base/layout_bo.css' %}">
    {% endblock %}
</head>
<body>
    <ul>
        <li><a class="active" href="{% url 'bo:user' %}">User</a></li>
        <li><a href="{% url 'bo:movies' %}">Movies</a></li>
        {% comment %} <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>  {% endcomment %}
    </ul>
    {% block content %}

    {% endblock %}
    {% block javascript %}
    
        <script src="{% static 'js/external/common.js' %}"></script>
        <script src="{% static 'js/layout/layout_bo.js' %}"></script>
        
        
    {% endblock %}
</body>
</html>