body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* start of table styling */

table {
  width: 1350px;
  max-width: 1350px;
}

table, th, td {
  border-bottom: .05px solid #353535;
  border-collapse: collapse;
}

.main {
  display: flex;
  align-items: center;
}

thead {
  height: 30px;
  font-weight: 200;
  color: white;
  background-color: #000000;
}

td {
  height: 40px;
}

.hoverDetails:hover {
  background-color: #D5D5D5;
}
/* end of table styling */

/* this part is the styling for the button */
button {
  height: 30px;
  width: 55px;
}

button:hover {
  opacity: 70%;
}

.updatebtn {
  border: none;
  color: white;
  background-color: #08F02B;
}

.deletebtn {
  border: none;
  color: white;
  background-color: #DD0A0C;
}

/* end of buttong styling */

/* Form styling here */
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.formTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #111111;
  width: 100%;
  height: 55px;
  font-size: 30px;
}

.mainForm {
  background-color: rgba(17, 17, 17, 0.281);
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  color: white;
  height: 440px;
  width: 400px;
  border-radius: 10px;
  background-color:#e4a522;
  overflow: hidden;
  padding-bottom: 20px;
}

label {
  text-align: left;
  width: 200px;
  margin: 5px 0px 2px;

}

.formInput {
  border-radius: 5px;
  outline: none;
  height: 25px;
  width: 200px;
  border: none;
}

select {
  width: 200px;
  border: none;
  outline: none;
}

.closeBtn {
  background-color: red;
  color: white;
  border: none;
  margin-top: 5px;
  width: 100px;
  height: 30px;
}


.formUpdateBtn {
  background-color: #08F02B;
  color: white;
  border: none;
  margin-top: 5px;
  width: 100px;
  height: 30px;
}

.addButton {
  bottom: 5%;
  right: 5%;
  position: absolute;
  background-color: #08F02B;
  color: white;
  border: none;
  margin-top: 5px;
  width: 100px;
  height: 30px;
}

.form2 {
  width: 100%;
  height: 100%;
}

/* end of Form styling */